<!DOCTYPE html>
<html>
<head>
	<title>Add Book and Review</title>
	{%load static%}
	<link rel="stylesheet" type="text/css" href="{% static 'books_app/css/style_add_book.css'%}">
</head>
<body>
	<nav>
		<a href="/books">Home</a>
		<a href="/users/logout">Logout</a>
	</nav>
	<h2>Add a New Book Title and a Review:</h2>
	<div class="container">
		<form action="/books/create" method="POST">
		{% csrf_token %}
			<h3>Book Title: <input type="text" name="title"></h3>
			<div>
				<h3>Author:</h3>
				<div class="container">
					<p>Choose from the list 
						<select name="author">
							<option></option>
						{% for authors in books %}
							<option>{{authors.author}}</option>
						{% endfor %}
						</select>
					</p>
					<p>Or add a new author: <input type="text" name="author"></p>
				</div>
				<div class="review">
					<h3>Review:</h3>
					<textarea name="review"></textarea>
				</div>
				<h3>Rating: 
					<select name="rating">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
					</select>
					 stars.
				</h3>
				<input type="submit" value="Add Book and Review">
			</div>
		</form>
	</div>
</body>
</html>